* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--black: #000;
	--gray-one: #f4f5f6;
	--primary: #3a6258;
	--secondary: #2c3f5a;
	--gradient-first: #3e6b50;
	--gradient-second: #314559;
	--accent-first: #acf08a;
	--accent-second: #caed70;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
code,
a,
li,
button {
	font-size: 1rem;
}

body {
	background: var(--gray-one);
	font-family: "Rubik", sans-serif;
	font-size: 1.125rem;
	color: var(--eighteen);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2rem;
}

a {
	text-decoration: none;
}
