* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--black: #000;
	--gray: #626262;
	--gray-light: #c3cbce;
	--primary: #3a6258;
	--secondary: #2c3f5a;
	--gradient-first: #3e6b50;
	--gradient-second: #314559;
	--accent-first: #acf08a;
	--accent-second: #caed70;
	--highlight: #e37368;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
code,
a,
li,
button {
	font-size: 1rem;
}

body {
	background: var(--gray-light);
	font-family: "Rubik", sans-serif;
	font-size: 1.125rem;
	color: var(--primary);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2rem;
}

a {
	text-decoration: none;
}

.btn {
	border-radius: 1rem;
	border: 0;
	padding: 0.75rem 1.125rem;
	font-size: 2rem;
	font-weight: bold;
}

.btn-primary {
	width: 320px;
	color: var(--secondary);
	background: linear-gradient(var(--accent-first), var(--accent-second));
}

.btn-primary:hover {
	background: linear-gradient(var(--accent-second), var(--highlight));
}

main {
	min-height: 50vh;
}

input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid var(--gray);
	border-radius: 0.25rem;
}

input:focus {
	outline: none;
	border-color: var(--secondary);
}
